.container > p{
    width: 40rem;
    font-family: roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
}

.date_section{
   display: flex;
   flex-direction: column;
   margin-right: 3%;
   font-family: roboto;
   font-weight: 500;
   font-size: 0.9rem;
   line-height: 1.3rem;
}

.container{
    display: flex;
    margin-left: 3%;
}

@media screen and (max-width: 500px){
    .container > p{
        width: 50%;
    }

    .date_section{
        margin-right: 10%;
    }
}